---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<div class="content">

    {% assign category_name = "projects-edu" | first %}
    <section class="section  typeset">
      <h2 id="{{ category_name | slugify }}">{{ category_name }}</h2>
      <ul class="list  list--posts">
        {% for page in site.categories[category_name] %}
          {% assign has_categories = true %}
          <li class="item  item--post">
            <article class="article  article--post  typeset">
              <h3><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
              {% include post-meta.html %}
              {{ page.excerpt | markdownify | truncatewords: 60 }}
            </article>
         </li>
       {% endfor %}
      </ul>
      {% unless forloop.last %}<hr/>{% endunless %}
    </section>

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
