---
layout: default
---

{% assign override_feature_image = site.tag_info[page.tag].image %}

{% if site.tag_info[page.tag].title %}
  {% capture override_feature_text %}
  ## {{ site.tag_info[page.tag].title }}
  {{ site.tag_info[page.tag].description }}
  {% endcapture %}
{% endif %}

{% include site-header.html %}

<main class="main  container">

	<div class="content">

		<article class="article  article--page  typeset">

	    <h4>#{{ page.tag }}</h4>

			{{ content }}

		</article>

		{% include tag-list.html posts = page.posts %}

	</div>

</main>

{% include site-footer.html %}
